<div class="row justify-content-center">
  <div class="col-6">
    <h1 class="text-center"><%= t('.sign_up') %></h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :user_name %><br />
        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autocomplete: "last_name", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autocomplete: "first_name", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :assignment_year %><br />
        <%= f.text_field :assignment_year, autocomplete: "assignment_year", class: "form-control" %>
      </div>
      
      <div class="field form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
      </div>

      <div class="actions">
        <%= f.submit t('.sign_up') , class: "btn btn-primary form-control" %>
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "btn btn-primary form-control mt-4" %>
      </div>
    <% end %>

  </div>
</div>

