<div id="form-wrapper">
  <div class="col-6 bg-light overflow-auto border border-dark rounded h-75" id="input-data-form">     
    <div id="close-form">
      ×
    </div>
    <h2 class="text-center mt-4">備品データ追加</h2>
    <%= form_with model: @equipment, url: equipments_path, method: :post, local: true do |f| %>
      <div class="field form-group">
        <%= f.label :genre %>（必須）
        <%= f.select :genre, Equipment.genres_i18n.invert, {}, class: "form-control"  %>
      </div>
      <div class="field form-group">
        <%= f.label :lab_equipment_name %>（必須）
        <%= f.text_field :lab_equipment_name, class: "form-control"  %>
      </div>
      <div class="field form-group">
        <%= f.label :maker_name %>（必須） 
        <%= f.text_field :maker_name, class: "form-control"  %>
      </div>
      <div class="field form-group">
        <%= f.label :product_name %>（必須） 
        <%= f.text_field :product_name, class: "form-control"  %>
      </div>
      <div class="field form-group">
        <%= f.label :asset_num %>      
        <%= f.text_field :asset_num, class: "form-control"  %>
      </div>
      <div class="field form-group">
        <%= f.label :price %>      
        <%= f.text_field :price, class: "form-control"  %>
      </div>
      <div class="field form-group">
        <%= f.label :purchase_year %>（必須）
        <%= f.select :purchase_year, options_for_select((1990..Time.current.year).to_a, selected: Time.current.year), {}, class: "form-control"  %>
      </div>
      <div class="field form-group">
        <%= f.label :remarks %>
        <%= f.text_area :remarks, class: "form-control"  %>
      </div>
      <div class="actions mb-4">
        <%= f.submit "送信", class: "btn btn-primary form-control"  %>
      </div>
    <% end %>
  </div>
</div>
