<%= render "layouts/flash_error_msg", object: @equipment %>
<div class="row justify-content-center">
  <%= render "equipments/new" %>
  <div class="col-12">
    <h1 class="text-center">備品データ一覧</h1>
    <% if current_user.admin? %>
      <hr>
      <span class="btn btn-secondary text-light mr-2" id="form-switch">備品データ追加</span>
      <%= link_to "CSVエクスポート",equipments_path(format: :csv), class: "btn btn-secondary text-light" %>
    <% else %>
    <% end %>
    <hr>
    <div>
      <%= search_form_for @q, class: 'form-inline', url: equipments_path do |f| %>
      <div class="form-group pr-4">
        <%= f.label :genre_eq, "備品ジャンル", class: "pr-2" %>
        <%= f.select :genre_eq, Equipment.genres.map{|k, v| [Equipment.genres_i18n[k], v]}, { include_blank: 'すべて' }, class: "form-control" %>
      </div>
      <div class="form-group pr-4">
        <%= f.label :purchase_year_eq, "購入年度", class: "pr-2" %>
        <%= f.select :purchase_year_eq, options_for_select((1990..2100).to_a) , { include_blank: '指定なし' }, class: "form-control" %>
      </div>
      <div class="form-group pr-4">
        <%= f.label :lab_equipment_name_or_asset_num_cont, "その他項目", class: "pr-2" %>
        <%= f.search_field :lab_equipment_name_or_asset_num_cont, placeholder: "入力してください", class: "form-control" %>
      </div>
      <%= f.submit "検索", class: "btn btn-primary form-control" %>
      <% end %>
    </div>
    <hr>
    <%= paginate @equipments %>

    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th scope="col" style="width:13%"><%= sort_link(@q, :genre, "備品ジャンル") %></th>
          <th scope="col" style="width:19%"><%= sort_link(@q, :lab_equipment_name, "研究室用備品名") %></th>
          <th scope="col" style="width:18%"><%= sort_link(@q, :product_name, "製品名") %></th>
          <th scope="col" style="width:10%"><%= sort_link(@q, :purchase_year, "購入年度") %></th>
          <th scope="col" style="width:12%"><%= sort_link(@q, :asset_num, "資産番号") %></th>
          <th scope="col" style="width:10%">ステータス</th>
          <th scope="col" style="width:18%"></th>
        </tr>
      </thead>
      <tbody>
        <% @equipments.each do |equipment| %>
          <tr>
            <td class="align-middle"><%= equipment.genre_i18n %></td>
            <td class="align-middle"><%= equipment.lab_equipment_name %></td>
            <td class="align-middle"><%= equipment.product_name %></td>
            <td class="align-middle"><%= equipment.purchase_year %></td>
            <td class="align-middle"><%= equipment.asset_num %></td>
            <td class="align-middle">
              <%= equipment_status(equipment) %>
            </td>
            <td class="align-middle text-left">
              <%= link_to "詳細", equipment_path(equipment), class: "btn btn-primary text-light" %>
              <% if current_user.admin? %>
                <%= link_to "編集", edit_equipment_path(equipment), class: "btn btn-secondary text-light" %>
              <% end %>
              <% if equipment.disposal_status == 0 && equipment.lendings_status == 0 %>
                <%= link_to "貸出", {controller: "lendings", action: "lending", id: equipment.id}, method: :post, class: "btn btn-primary text-light" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @equipments %>
  </div>
</div>
