<%= render "layouts/flash_error_msg", object: @equipment %>
<div class="row justify-content-center">
  <div class="col-12">  
    <h1 class="text-center">備品データ詳細</h1>
    <hr>
    <table class="table table-bordered table-striped text-center">
      <tbody>
        <tr scope="row">
          <td>備品ジャンル</td>
          <td><%= @equipment.genre_i18n %></td>
        </tr>
        <tr scope="row">
          <td>研究室用備品名</td>
          <td><%= @equipment.lab_equipment_name %></td>
        </tr>
        <tr scope="row">
          <td>メーカー名</td>
          <td><%= @equipment.maker_name %></td>
        </tr>
        <tr scope="row">
          <td>製品名</td>
          <td><%= @equipment.product_name %></td>
        </tr>
        <tr scope="row">
          <td>購入年度</td>
          <td><%= @equipment.purchase_year %></td>
        </tr>
        <tr scope="row">
          <td>資産番号</td>
          <td><%= @equipment.asset_num %></td>
        </tr>
        <tr scope="row">
          <td>値段</td>
          <td><%= @equipment.price %></td>
        </tr>
        <tr scope="row">
          <td>備考</td>
          <td><%= @equipment.remarks %></td>
        </tr>
        <tr scope="row">
          <td>データ作成者</td>
          <td><%= @equipment.registered_user.user_name %>（<%= @equipment.registered_user.last_name %><%= @equipment.registered_user.first_name %>）</td>
        </tr>
        <tr scope="row">
          <td>データ作成日時</td>
          <td>
            <%= @equipment.created_at.year %>年
            <%= @equipment.created_at.month %>月
            <%= @equipment.created_at.day %>日
            <%= @equipment.created_at.hour %>時
            <%= @equipment.created_at.min %>分
          </td>
        </tr>
        <tr scope="row">
          <td>データ更新日時</td>
          <td>
            <%= @equipment.updated_at.year %>年
            <%= @equipment.updated_at.month %>月
            <%= @equipment.updated_at.day %>日
            <%= @equipment.updated_at.hour %>時
            <%= @equipment.updated_at.min %>分
          </td>
        </tr>
        <tr scope="row">
          <td>ステータス</td>
          <td>
            <% if @equipment.lendings_status == 0 %>
              貸出可
            <% elsif @equipment.lendings_status == 1 %>
              <span class="text-danger">貸出中</span>
            <% end %>
            <% if @equipment.disposal_status == 0 %>
              未廃棄
            <% elsif @equipment.disposal_status == 1 %>
              <span class="text-danger">廃棄済み</span>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <% if current_user.admin? %>
      <%= link_to "編集", edit_equipment_path(@equipment), class: "btn btn-primary form-control" %>
    <% else %>
    <% end %>
  </div>
</div>