<p>貸出備品一覧</p>
<table border="1">
  <thead>
    <tr>
      <th scope="col">研究室用備品名</th>
      <th scope="col">メーカー名</th>
      <th scope="col">製品名</th>
      <th scope="col">購入年度</th>
      <th scope="col">資産番号</th>
      <th scope="col">借りてる人</th>
      <th scope="col">借りた日</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @lendings.each do |lending| %>
      <tr>
        <td><%= lending.equipment.lab_equipment_name %></td>
        <td><%= lending.equipment.maker_name %></td>
        <td><%= lending.equipment.product_name %></td>
        <td><%= lending.equipment.purchase_year %></td>
        <td><%= lending.equipment.asset_num %></td>
        <td>
          <%= lending.user.last_name %>
          <%= lending.user.first_name %>
          (<%= lending.user.user_name %>)
        </td>
        <td><%= lending.created_at %></td>
        <td>
          詳細、返却
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
