<!DOCTYPE html>
<html>
  <head>
    <title>研究室備品管理アプリ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="base-container">
      <%= render "layouts/header" %>
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
