<!DOCTYPE html>
<html>
  <head>
    <title>EquipmentsManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "備品データ一覧", equipments_path %>
      <%= link_to "貸出状況", lendings_path %>
      <%= link_to "貸出履歴", lendings_history_path %>
      <%= link_to "操作履歴", operation_history_path %>

      現在のアカウント:
      <%= current_user.user_name %>
      <%= current_user.last_name %>
      <%= current_user.first_name %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
